RewriteEngine On


# Redirect specific files to dashboard.php
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^(action\.php|sendOtp\.php|deleteExpiredOTP\.php|composer-setup\.php)$ index.php [L]

# Redirect non-existent files to dashboard.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]
